@charset "UTF-8";
/* CSS Document */

/* COLORS
gray: #2E2E30
red #CC4839
*/

*, *:before, *:after{
	box-sizing: border-box;
}

/* fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
/* end fonts*/

html{
	
	background-color:#563628; /*brown*/
}

.no-js{
	background-color:#3D769C; /*light blue*/
}

body {
    background: #fff;
    font-size:100%;
	width:90%;
	margin:0 auto;
	font-family:'Gentium Book Basic', serif;
	color:#666;
	padding-left:1.5em; /*24px / 16px*/
}


ul{
	list-style:none;
}


h1 {
    font-family: 'Open Sans', Trebuchet MS, sans-serif;
    font-size: 3em; /* 40px / 16px */
    line-height: 1.2em; /* 48px / 40px */
    margin-bottom: .2em;
    margin-top: .4em;
	color:#2E2E30;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-weight:400;
}

h1 b{
	color:#CC4839;
	font-weight:700;
}

h2 {
    border-bottom: 2px solid #dbdbdb;
    font-family: 'Open Sans', Trebuchet MS, serif;
    font-size: 1.5em; /* 24px/16px */
    line-height: 1em;
    margin-bottom: .666666667em; /* 16px / 24px */
    margin-top: 1em;
	color:#CC4839;
}
b{
	font-weight:700;
	color:#CC4839;
	font-size:1.2em;
}

img.morgan{
	width: 100%;
	max-width: 1150px;
}

.summary{
	font-size:1.5em;
	line-height:1.2em;
	font-weight:400;		
}

blockquote {
    font-style: italic;
    margin-bottom: 1.5em;
    padding-left: 1em;
}

blockquote:before {
/*    content: "\201C";*/
	content: open-quote;
    float: left;
    font-size: 2.5em;
    font-style: normal;
    left: -.4em;
	top: -0.35em;
    position: relative;
	color:#CC4839;
}

a {
    color: #2E2E30;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
aside a:before{
	content:"• ";
	color:#CC4839;
}

cite {
    display: block;
    font-style: italic;
    text-align: right;
	color:#CC4839;
	font-size:0.75em;
}

p,
ul{
    margin-bottom: 1em
}

#container {
    margin: 0 auto;
    width: 90%;
   	padding: .625em 1.0548523% 1.5em;
   	overflow: hidden;
}

main {
	padding-right: 2.5316456%; /* 24px / 948px */
	width:100%;
}

aside {
	width: 100%;
}


/*media queries*/
@media screen and (min-width: 800px){
	#container{
		display: block;
	}

	.flexbox #container{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
	}
	#container main{
		width: 70%;
		display: inline-block;
	}

	#container aside{
		width: 25%;
		display: inline-block;
		vertical-align: top;
	}

	.flexbox #container main, .flexbox #container aside{
		flex: 0 1 auto;
	}

	


}